/* Global/Primary CSS sheet */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap');

/* Mini-Reset */
body {
    margin:0;
    padding:0;
}

html * { /* Global; applies to everything */
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

/* a (Hyperlinks) */
body a:link, body a:visited { color: #444 }
nav a:link, nav a:visited  { color: #eee }
body a:hover { color: #999 }

/* Header text */
header {
    line-height: 50%;
    padding: 1px 0px;
}
header h1 {
    font-family: 'Acme', Arial, Helvetica, sans-serif;
}

/* Nav bar */
nav {
    margin: auto;
    padding: 0px 0px 5px 0px;
	display: inline-block;
}

/* Header & Nav bar combined */
#headernav {
    background-color: #444;
    color: #eee;
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
}

/* Body */
body {
    background-color: #eee; /* uhhh nobody will kill me for straying from the 216-color palette in 2020 right? */
    color: #444; /* Japan be like "yo what" */
}

/* Sections & Horizontal Lines */
section, hr {
    margin: auto;
    width: 50%;
}

/* Footer */
footer {
    padding-top: 10px;
}

/* Class for centered text */
.textcenter {
    text-align: center;
}

/* Class for indented paragraphs */
.indent {
    text-indent: 1em;
}